@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

body {
    margin: 0;
    background: rgb(74, 74, 83);
    height: 100vh;
    font-family: "Quicksand", "sans serif";
    color: #353d45;
    font-size: 13px;
}

.conteneur {
    background: white;
    height: 90vh;
    aspect-ratio: 210/297;
    overflow-y: scroll;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.bonjour {
    color:gray; 
    font-size:24px; 
    margin:0px; 

}

.education{
    color:#d79d61; 
}

.competence {
    color:#d79d61; 
    margin-top: 2em;
}

.qualites {
    color:#d79d61; 
    margin-top: 2em;
}

h2 {
    text-transform:uppercase;
    font-size: 18px;
}

.bandeau {
    background-color:#d79d61;
    display:flex; 
    justify-content:space-around;
    align-items:center; 
}       
 
img {
    width:300px; 
   
}
.cv { 
    display:flex;
    justify-content:space-around; 
    align-items:center; 
    padding:30px;
} 

.portrait{     
      border-radius: 50%; 
       width: 160px; 

        
} 
.nom { 
font-size:30px;
margin:0px;
}
.principal{
    display:flex;
    /* justify-content:space-around; */
    height: 100%;
}  
.block1 {
    background-color:#373d45; 
    padding:30px;
    width: 250px;
}

.block1 p {
    color:white;
    padding-left: 20px;
}

.block2 {
    padding:30px;
}
.e{
    margin-top: 2em;
} 


   

